$color-bgd-primary:#e0e8ff;
$color-bgd-secondary:#fff;
$color-bgd-tertiary: hsl(245, 75%, 52%);

$color-text-primary: hsl(223, 47%, 23%);
$color-text-secondary: #fff;
$color-text-tertiary: hsl(225, 100%, 98%);
$color-text-quartary: hsl(224, 23%, 55%);

$font-weights: (
    'normal': 500,
    'medium': 700,
    'bold': 900
);